* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {

    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
    display: flex;
    justify-content: flex-start;
    background: #025464;
    width: 100%;
    height: 5rem;
}

.menu {
    margin-top: 1.25rem;
    margin-left: 2rem;
    size: 2.5rem;



}