* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 767px) {
  .logo {
    display: none;
  }
}

.header {
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  background: #a0c49d;
  /* position: sticky;
    top: 0;
    z-index: 10; */
  /* width: 100%; */
  height: 90px;
}

.eventgallary {
  display: flex;
  /* margin-top: 10px; */
  color: white;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 2.7rem;
  margin-left: 30px;
  align-content: center;
}
.logoimg {
  width: 5rem;
  height: 5rem;
  justify-self: center;
  border-radius: 50%;
}

.logo {
  margin-left: 5rem;
  padding: 0.3rem;
}

.webTop {
  background-image: url("./assets/topBG.jpeg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.overlay {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  /* padding: 20px; */
  text-align: center;
  justify-content: center;
  color: white;
  /* max-width: 600px; */
  height: 100%;
  width: 100%;
}

.overlay h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1.2em;
}

.heading {
  margin-left: 100px;
  padding-top: 20px;
}

.clubs {
  margin: 5px;
}

.ccards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ccard {
  /* display: flex;
  justify-content: space-between; */
  width: 220px;
  height: 300px;
  margin: 18px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  /* padding: 1.8rem; */
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ccard > img {
  height: 150px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cdesc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.cdesc > p {
  /* align-items: center;
  align-content: center; */
  color: #05050582;
}
.card-button {
  cursor: pointer;
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #a0c49d;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.ccard:hover {
  border-color: #a0c49d;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.ccard:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.eventlist {
  background: #e1ecc8;
}
.ecards {
  padding: 50px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
.ecard1 {
  border-radius: 4px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 250px;
  background: white;
}
.ecard1:hover {
  box-shadow: 8px 8px 16px 4px rgba(0, 0, 0, 0.2);
}

.ecardimg1 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 250px;
}

.foot4 {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.disc4 {
  margin-top: 10px;
  margin-left: 8px;
}
.discr4 {
  margin-top: 8px;
  color: rgb(138, 136, 136);
}

.read {
  text-decoration: none;
  color: rgb(81, 132, 226);
}

.footinsta {
  width: 2rem;
  height: 2rem;
  justify-self: center;
  border-radius: 50%;
}

.ecards-container {
  overflow: hidden;
  position: relative;
}
.ecards {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
}
.slider-btn {
  position: absolute;
  top: 250px;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 2.6rem;
  width: 2.6rem;
  font-size: 1.875rem;
  cursor: pointer;
}
.slider-btns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#prevBtn {
  left: 6%;
  transform: translate(-50%, -50%);
}

#nextBtn {
  right: 6%;
  transform: translate(50%, -50%);
}

/* /////////////////////////////////////////////foorter part//////////////////////////////////////////////////////// */
.foot {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 16px;
  background: #a0c49d;
  color: #000;
  margin: 10px;
  border-radius: 12px;
  justify-content: center;
  align-content: center;
  font-size: 25px;
}

/* .foothead {
  margin-left: 640px;
  justify-content: center;
} */
/* .footer{
  margin-top: 1.75rem;
  font-size: 1.4rem;
  gap: 5rem;
  display: flex;
  justify-content: center;
} */
